@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .card {
    width: 400px;
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }

  .container {
    padding: 10;
  }

  .details-img {
    height: 400px;
    object-fit: contain;
    width: 300px;
    object-position: center top;
  }

  .dark-card {
    width: 150px;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px;
  }

  .dark-card h2 {
    font-weight: 500;
    color: aqua;
  }

  .dark-card:hover {
    background-color: #f83f3f3f;
    cursor: pointer;
  }

  .mini-card {
    width: 200px;
    object-fit: contain;
    color: white;
    cursor: pointer;
  }

  .search-result {
    height: 400px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    gap: 30px;
  }

  .hdiv {
    display: block;
    flex-shrink: 0;
    overflow-wrap: break-word;
    object-fit: contain;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: auto;
    margin-bottom: 15px;
  }
}
